<footer class="bg-light py-3 mt-5">
  <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
    <div class="text-muted">&copy; 2024 Airbnb, Inc.</div>
    <div class="priv small">
      <a href="#">Privacy</a> &sdot;
      <a href="#">Terms</a> &sdot;
      <a href="#">Sitemap</a> &sdot;
      <a href="#">Company details</a>
    </div>
    <div class="social mt-2 mt-md-0">
      <a href="https://www.linkedin.com" target="_blank" class="text-muted me-2"><i class="fa-brands fa-linkedin fa-lg"></i></a>
      <a href="https://www.instagram.com" target="_blank" class="text-muted me-2"><i class="fa-brands fa-instagram fa-lg"></i></a>
      <a href="https://www.facebook.com" target="_blank" class="text-muted"><i class="fa-brands fa-facebook fa-lg"></i></a>
    </div>
  </div>
</footer>