<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
  <title><%= (typeof title !== 'undefined' ? title : 'WanderLust') %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />
</head>
<body>
  <%- include('../includes/navbar.ejs') %>
  <div class="container">
    <%- body %>
  </div>
  <%- include('../includes/foooter.ejs') %>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/script.js" ></script>
</body>
</html>